* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background-primary);
  /* background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%); */
  /* background-repeat: no-repeat; */
}

:root {
  --colorLight1: #dbe2ef;
  --colorLight2: #f9f7f7;
  --background-primary: #0a171d;
  --background-secondary: #0f1b22;
  --dark-secondary: #212729;
  --bordercolor: #444a4c;
}

.wrapper {
  /* background-color: red; */
  height: 100vh;
}

.header {
  /* padding: 2rem; */
  height: 15%;
  width: 100%;
  padding: 2rem;
  background-color: var(--background-secondary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  color: var(--colorLight2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  height: 85%;
  width: 100%;
  /* background-color: green; */
  display: flex;
  gap: 1rem;
}

.sidebar {
  width: 30%;
  color: var(--colorLight1);
  font-size: 1.3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  background-color: var(--colorLight2);
}

.form-container input {
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
}

.form-container button {
  cursor: pointer;
  border: none;
  padding: 0.7rem 0.7rem;
  background-color: var(--bordercolor);
}

.your-location-btn {
  cursor: pointer;
  padding: 1rem 1.5rem;
  color: var(--colorLight2);
  background-color: var(--bordercolor);
  border: 1.5px solid var(--bordercolor);
  border-radius: 0.5rem;
}

.your-location-btn:hover {
  border: 1.5px solid var(--colorLight2);
  background-color: var(--background-secondary);
}

.btn-full {
  width: 100%;
  border-radius: 0;
}

.display-weather-wrapper {
  width: 80%;
  padding: 2rem;
}

.display-weather {
  background-color: var(--background-primary);
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 2rem;
}

.weather-main {
  background-color: var(--dark-secondary);
  color: var(--colorLight2);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  height: 14rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left h1 {
  font-size: 2.5rem;
}
.left p {
  font-size: 3rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right p {
  font-size: 2rem;
}

.weather-widget {
  /* background-color: green; */
  height: fit-content;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.card {
  background-color: var(--dark-secondary);
  color: var(--colorLight2);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  height: 10rem;
  width: 18rem;
  border: 1px solid var(--bordercolor);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.weather-icon {
  height: 5rem;
  height: 5rem;
}

.loading-container {
  height: 100%;
  display: none;
  color: var(--colorLight2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grant-location-container {
  height: 100%;
  color: var(--colorLight2);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.active {
  display: flex;
}

/* for tab/mobile view */
@media (max-width: 768px) {
  .wrapper {
    height: auto;
  }

  .header {
    height: auto;
  }
  .main-container {
    /* flex-direction: row; */
    height: auto;
    flex-wrap: wrap;
  }

  .sidebar {
    width: 100%;
  }

  .display-weather-wrapper {
    height: auto;
    width: 100%;
  }

  .weather-main {
    height: 12rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .left h1 {
    font-size: 1.5rem;
  }
  .left p {
    font-size: 1.7rem;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right p {
    font-size: 1rem;
  }

  .weather-icon {
    height: 4rem;
    width: 4rem;
  }

  .weather-widget {
    justify-content: center;
  }

  .card {
    width: 15em;
  }
}
